window {
    background: #800
    padding: (left: 2 right: 2 top: 25 bottom: 2)
}

scroll {
    width: 150
    height: 100
    padding: (right: 5.0 bottom: 5.0)
}

button {
    width: fill(1)
    background: #888
    hover: #aaa
    pressed: #222
    disabled: #868
    padding: (left: 20.0 right: 20.0 top: 5.0 bottom: 5.0)
    text-size: 24.0
}

text {
    color: #f00
}

button text {
    color: #0f0
}

input {
    width: fill(1)
    background: #fff
    color: #000
    text-size: 24.0
    padding: (left: 4.0 right: 4.0 top: 4.0 bottom: 4.0)
}